
.sider a{
    color : white;
    text-decoration : none;
}

.user-dashbord {
    position : fixed;
    top : 0;
    left : 0;
    z-index : 2;
    display : inline-block;
    width : 250px;
    min-width : 160px;
    height : 100vh;
    min-height : 768px;
    font-family : Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
      Microsoft YaHei, Arial, sans-serif;
    color : white;
    vertical-align : top;
    background-color : rgb(51, 51, 51);
}
  .user-center {
    position : relative;
    position : relative;
    width : 100%;
    min-height : 600px;
    padding-left : 15.6vw;
    overflow : hidden;
    vertical-align : top;
    background-color : #fff;
}
  .logo-container {
    padding : 2vh 0 8.16vh;
    text-align : center;
}
  .logo-container img {
    width : 146px;
    height : 43px;
    cursor : pointer;
}
  .user-avatar {
    height : 78px;
    margin-top : 100px;
    text-align : center;
}
  .user-avatar-icon {
    width : 78px;
    height : 78px;
    overflow : hidden;
    cursor : pointer;
    border-radius : 50%;
}
  .user-info {
    padding : 0.51vh 0 8.16vh;
    margin-top : 20px;
    color : white;
    text-align : center;
    word-break : break-all;
    word-wrap : break-word;
}
  .user-info h2 {
    padding : 1px 0;
    margin : 0;
    font-size : 14px;
    font-weight : 300;
    line-height : 25px;
    color : white;
}
  .chos-bg {
    display : flex;
    align-items : center;
    justify-content : center;
    height : 54px;
    text-align : center;
    cursor : pointer;
}
  .chos-bg img {
    width : 22px;
    height : 22px;
    margin-right : 9px;
}
  .chos-bg p {
    width : 70px;
    font-weight : 300;
    line-height : 54px;
    color : white;
}
  .menu-bom {
    position : absolute;
    right : 0;
    bottom : 30px;
    left : 0;
    height : 108px;
}
  .chos-bg:hover {
    background-color : rgb(167, 159, 194);
}
ul{
  padding : 0 ;
  list-style : none;
}